## Bank Note Authentication Problem

Find the Dataset here `https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data`

In [14]:
# Importing the libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pickle

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Reading the dataset into a dataframe
data = pd.read_csv('BankNote_Authentication.csv')

In [3]:
# Checking the data
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
# Describing the data
data.describe(percentiles=[0.25,0.5,0.75])

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
# Checking the null values
data.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [6]:
# Divide the dependent and independent variables
X = data.iloc[:,:-1]
y = data.iloc[:,-1:]

In [7]:
X.head(20)

    variance  skewness  curtosis  entropy
0    3.62160    8.6661  -2.80730 -0.44699
1    4.54590    8.1674  -2.45860 -1.46210
2    3.86600   -2.6383   1.92420  0.10645
3    3.45660    9.5228  -4.01120 -3.59440
4    0.32924   -4.4552   4.57180 -0.98880
5    4.36840    9.6718  -3.96060 -3.16250
6    3.59120    3.0129   0.72888  0.56421
7    2.09220   -6.8100   8.46360 -0.60216
8    3.20320    5.7588  -0.75345 -0.61251
9    1.53560    9.1772  -2.27180 -0.73535
10   1.22470    8.7779  -2.21350 -0.80647
11   3.98990   -2.7066   2.39460  0.86291
12   1.89930    7.6625   0.15394 -3.11080
13  -1.57680   10.8430   2.54620 -2.93620
14   3.40400    8.7261  -2.99150 -0.57242
15   4.67650   -3.3895   3.48960  1.47710
16   2.67190    3.0646   0.37158  0.58619
17   0.80355    2.8473   4.34390  0.60170
18   1.44790   -4.8794   8.34280 -2.10860
19   5.24230   11.0272  -4.35300 -4.10130

In [8]:
y.head(20)

    class
0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0

In [9]:
# Creating the train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [10]:
# Implementing RandomForestClassifier
classifier = RandomForestClassifier()

classifier.fit(X_train, y_train)

RandomForestClassifier()

In [11]:
# Predict the test data
y_pred = classifier.predict(X_test)

In [12]:
# Check the accuracy score of the prediction 
score = accuracy_score(y_pred, y_test)

In [13]:
score

0.9902912621359223

In [16]:
# Convert the model into pickle files
pickle_out = open("predictor.pkl", 'wb')
pickle.dump(classifier, pickle_out)
pickle_out.close()